@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1B1107;
    font-family: "playfair display", serif;
}
nav {
    border: 0.05rem solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.5rem;
    font-family: "Abril Fatface", sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.logo span {
    color: #D9B382;
}

.logo:hover span {
    color: white;
}

.logo:hover {
    color: #D9B382;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400
}

.nav-links a:hover {
    color: #D9B382;
}

.hero {
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
    margin-bottom: 40px;
}

.hero-container {
      position: relative; 
      z-index: 1;
      max-width: 680px;
      text-align: center;
    }

.hero-title {
    font-size: clamp(2.4rem, 6vw, 3.8rem);
    font-weight: 100;
    font-family: "Abril Fatface", sans-serif;
    letter-spacing: 0.01em;
}

.hero-title em { 
    font-style: italic; color: #c9a96e; 
}

.title-box {
    margin-bottom: 1.2rem;
}

.hero-subtitle {
    font-size: 15px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 300;
    line-height: 1.75;
    max-width: 480px;
    margin: 0 auto 3rem;
}

.hero-button {
    border: white 0.05rem solid;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease

}
.hero-button:hover {
    background-color: white;
    color: #1B1107;
    cursor: pointer;
}

.menu-section { 
    min-height: 100vh;
    padding: 5rem 2rem; 
    background-color: #c9a96e;
}
.menu-header { 
    text-align: center; 
    margin-bottom: 3rem; 
    background-color: #c9a96e;
}
.menu-sub { 
    font-size: 13px; 
    font-family: "Playfair Display", serif;
    letter-spacing: 0.22em; 
    color: rgb(71, 53, 35); 
    font-weight: 700; 
    margin-bottom: 0.8rem; 
    background-color: #c9a96e;
}
.menu-title { 
    font-family: "Abril Fatface", serif; 
    font-size: clamp(2rem, 4vw, 3rem); 
    font-weight: normal; 
    color: #fff; 
    line-height: 1.15; 
    background-color: #c9a96e;
    color: #1B1107;
}
.menu-title em { 
    font-style: italic; 
    color: #c9a96e; 
}
.menu-grid { 
    display: grid; 
    background-color: #c9a96e;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 2rem; 
    margin: 0 auto;
}
.card{
    background-color: #c9a96e;
    border: 0.1rem solid #1B1107;
    padding: 1.5rem;
    text-align: center;
    color: white;
    overflow: hidden;
    transition: all 0.3s ease;
}
.card:hover {
    transform: translate(-5px, -5px);
    box-shadow: 4px 4px 0 #1b1107;
}
.card-head {
    background-color: #c9a96e;
    max-width: 100%; 
    height: auto; 
    display: block
}
.card-img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    border:0.1rem solid #1B1107;
}

.card-body {
    padding: 1rem;
    display: flex;
    align-items: flex-start; 
    justify-content: space-between; 
    margin-bottom: 0.6rem;
    background-color: #c9a96e;
}
.card-name {
    font-family: 'Playfair Display', serif; 
    font-size: 1.3rem; 
    background-color: #c9a96e;
    color: #1B1107; 
    font-weight: 700;
    letter-spacing: 0.01em;
}
.card-price {
    font-family: 'Playfair Display', serif; 
    font-size: 1.3rem; 
    color: #1B1107; 
    font-weight: 700;
    letter-spacing: 0.01em;
    background-color: #c9a96e;
}


.about-section { 
    min-height: 100vh;
    padding: 5rem 2rem; 
}
.about-header { 
    text-align: center; 
    margin-bottom: 3rem; 
}
.about-sub { 
    font-size: 13px; 
    font-family: "Playfair Display", serif;
    letter-spacing: 0.22em; 
    color: #c9a96e; 
    font-weight: 700; 
    margin-bottom: 0.8rem; 
}
.about-title { 
    font-family: "Abril Fatface", serif; 
    font-size: clamp(2rem, 4vw, 3rem); 
    font-weight: normal; 
    line-height: 1.15; 
    color: white;
}
.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.about-desc{
    color: white;
    font-family: "Playfair Display", serif;
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.75;
    max-width: 600px;
}
.stats-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 3rem;
    margin: 0 auto; 
    margin-top: 3rem;
    width: 600px;
}
.about-stats{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

}
.stat-card{
    background-color: #1B1107;
    border: 0.1rem solid #c9a96e;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    color: white;
    transition: all 0.3s ease;

}
.stat-card:hover {
    transform: translate(-5px, -5px);
    box-shadow: 4px 4px 0 #c9a96e;
}
.stat-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}
.stat-number{
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: #c9a96e;
    font-weight: 700;
}
.stat-label{
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: #c9a96e;
    line-height: 1.2;
}


